.dg-container{
	width: 100%;
	position: relative;
	max-width: 980px;
}

.dg-container .dg-center {
	box-shadow: 0px 13px 19px -13px black;
	width: 100%;
	filter: none !important;
	transition: .3s;
	top: unset !important;
}

.dg-container .dg-center img {
	width: 100%;
}

.dg-container .dg-center:before {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	content: ' ';
	box-shadow: 29px 6px 23px -14px black;
	border-radius: 10px;
	overflow: hidden;
}

.dg-container .dg-center:after {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	content: ' ';
	box-shadow: -29px 6px 23px -14px black;
	border-radius: 10px;
	overflow: hidden;
}

.dg-wrapper{
	height: 480px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper span{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	filter: grayscale(100%) brightness(30%);
	transition: .3s;

}
.dg-wrapper span img {
	border-radius: 10px;
}

.dg-wrapper span.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper span img{
	display: block;
}
.dg-wrapper span div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper span.dg-center div{
	display: block;
}

.dg-container nav
.dg-container nav span.dg-next{
	background-position: top right;
	margin-left: 10px;
}